body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.slack-picture{
    height: 15rem;
    border-radius: 1rem;
}